
body {
	font-family: Helvetica, Arial, sans-serif;
}


h1
{
	font-size: 34px;
	line-height: 45px;
	letter-spacing: -1px;
}

h2
{
	font-size: 24px;
	line-height: 35px;
	font-weight: bold;
}

h3
{
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

p
{
	line-height: 24px;
	margin-bottom: 2px;
}

a:link, a:visited { 
	color: white;
 	text-decoration: blink; 
 	font-weight: bold;
 	padding: 5px;
}

a:hover, a:active { 
	color: white;
	text-decoration: blink; 
	font-weight: bold;
	padding: 5px;
}


/* p:first-letter
{
	font-weight: bold;
	font-size: 24px;
	color: #000;
} */

.hidden {
	display: none;
}

.box {
	background-color: #000;
	color: white;
	text-align: center;
	margin: 20px;
}

.container {
	margin: 0 auto;
	width: 980px;
	background-color: white;
}

.mainHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.logoHeader {
	width: 150px;
	height: auto;
	margin: 10px 0px 20px 20px;
}

#mainNav
{
	margin: 0;
	padding: 0;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 60px;
	margin-top: 50px;
	margin-left: auto;
	background: white;
}

#mainNav ul
{
	list-style-type: none;
	/*padding-top: 22px;*/
}

#mainNav ul li
{
	float: left;
}

#mainNav ul li a
{
	display: block;
	color: #808080;
	font-size: 16px;
	text-decoration: none;
	margin-left: 30px;
	margin-top: 10px;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: .5px;
	border-radius: 10px;
	cursor: pointer;

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

#mainNav ul li a:hover
{
	background-color: #84C346;
	border-radius: 10px;
	color: white;
}


/*-- Open Contact --*/

#mainContact {
	width: 940px;
	padding: 20px 20px 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#contactArea {
	width: 469px;
	border-right: solid 1px #ccc;
	margin-bottom: 30px;
}

#contactText {
	font-size: 21px;
	margin-bottom: 30px;
	width: 340px;
	height: 75px;
	background-color: #000;
}

#contactForm {
	margin-top: 30px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 980px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Resources */

.resources {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 40px;
}


.wrapper {
  position:relative;
  display:inline-block;
  text-align: center;
   width: 220px;
  height: 300px; 
}

.label {
  position:absolute;
  color:white;
  font-weight: bold;
  background: #787878;
  opacity: 60%;
  width: 100%;
}

.label-center{
  left: 0px;
  top: 0px;
}



#mapArea {
	width: 380px;
	height: auto;
	margin-left: 20px;
}


/*-- Close Contact --*/

/*-- Open About page --*/
.interview {
	width: 940px;
	margin: 20px;
}

.interview img {
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;

}



/*-- Close About page --*/

/*-- Open Footer --*/

.mainFooter {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 20px;
	padding: 0 20px;
	background-color: #84C346;
}

.logoFooter, .socialMedia {
	background-color: #000;
	color: white;
	text-align: center;
}

.logoFooter {
	height: 50px;
	width: 200px;
	margin: 20px;
}

.socialMedia {
	height: 50px;
	width: 200px;
	margin-top: 20px;
	margin-left: auto;
}

.logoNav {
	width: 940px;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}

.footerNavBox {
	width: 940px;
}

#footerNav
{
	margin: 0;
	padding: 0;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 30px;
	margin: 20px;
}

#footerNav ul
{
	list-style-type: none;
	/*padding-top: 22px;*/
}

#footerNav ul li
{
	float: left;
}

#footerNav ul li a
{
	display: block;
	color: white;
	font-size: 12px;
	text-decoration: none;
	margin-left: 5px;
	margin-bottom: 10px;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: .5px;
	border-radius: 10px;
	cursor: pointer;
}

#footerNav ul li a:hover
{
	background-color: white;
	border-radius: 10px;
	color: #84C346;
}

/*-- Close Footer --*/